name: tests

on:
  push:
    branches:
      - '*'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - 'master'

jobs:
  test_unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - php: '8.0'
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup php
        uses: nanasess/setup-php@v3.0.6
        with:
          php-version: ${{ matrix.php }}
      - name: validate composer.json and composer.lock
        run: composer validate --strict
      - name: prepare test environment
        run: |
          composer install
      - name: execute unit tests
        run: composer run-script test
#      - name: upload coverage
#        env:
#          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        run: |
#          php vendor/bin/php-coveralls --coverage_clover=build/logs/clover.xml -v